Flask==3.1.2
waitress==3.0.0
PyPDF2==3.0.1
pymupdf==1.24.10
reportlab==4.2.2
langchain-community==0.3.7
langchain-core==0.3.67
langchain-cerebras==0.5.0
langchain-huggingface==0.1.0
faiss-cpu==1.8.0
flask-cors==5.0.0
python-dotenv==1.0.0